COMPOSE_PROJECT_NAME=eztv-support-pilot
COMPOSE_FILE=docker-compose.yml:local/pilot.yml:local/image-lock.yml
VERSION=7.2.2-0000
ELASTICSEARCH_VERSION=9.5.5
MEMCACHE_VERSION=1.6.45-alpine
REDIS_VERSION=8.10.2-alpine
POSTGRES_VERSION=17.11-alpine
POSTGRES_PASS=GENERATE_A_RANDOM_PASSWORD
NGINX_EXPOSE_PORT=127.0.0.1:8093
NGINX_CLIENT_MAX_BODY_SIZE=10M
ZAMMAD_FQDN=localhost:8093
ZAMMAD_HTTP_TYPE=http
TZ=America/New_York
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
ZAMMAD_WEB_CONCURRENCY=1
ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS=1
ZAMMAD_PROCESS_DELAYED_JOBS_WORKER_THREADS=3
BACKUP_ON_START=false
HOLD_DAYS=7
